@import "../default.scss";

.header {
    width: 100%;
    position: relative;
    height: 50px;
    background-color: #fff;
}

.container {
    width: $client-width;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 32px;
    margin-top: 8px;

    img {
        height: 100%;
    }
}

.nav {
    text-align: left;
    margin-left: 80px;
    list-style: none;
    width: 875px;
    float:left;
    font-size: 16px;
    line-height: 50px;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
        width: 80px;
        display: inline-block;
        list-style: none;
        margin-right: 20px;
    }
    a{
      color:#333538;
      text-decoration: none;
    }
    .account{
      float: right;
      text-align: right;
      margin-right: 0;
    }
}
